<div class="main-container">
<% @users.each do |user| %>
  <div class="users-wrapper flex">
    <div class="img-cont">
      <%= image_tag user.photo, :size => "50x50", alt: "user photo" %>
    </div>
    <div class="user-details">
      <h2><%= user.name %></h2>
      <p>Number of posts: <%= user.posts_counter %></p>
    </div>
  </div>
<%end%>
</div>