/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main-container {
  width: 60%;
  margin-top: 2%;
  gap: 5%;
  flex-direction: column;
  height: 100vh;
}

.users-wrapper {
  margin-top: 3%;
  gap: 2rem;
  width: 100%;
}

.user-details,
.user-bio,
.users-post,
.comments-cont,
.post-container {
  border: 2px solid black;
  width: 100%;
  padding: 1rem;
  margin-top: 5px;
}

.user-details > p {
  text-align: end;
}

.user-posts > button {
  margin-top: 1rem;
  margin-left: 40%;
}

.link-button {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.posts-enclosure {
  margin-bottom: 5%;
}

.post-container > h6 {
  text-align: end;
}

.pagination {
  margin-left: 40%;
  font-size: 20px;
}
